@media (max-width: 540px) {
    #lang-step {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    #lang-step > button {
        /* max-width: 400px; */
        width: 60%;
        /* padding: 30px; */
    }

    .menu-butt {
        /* height: 70px; */
        margin-top: 17px;
    }

    .menu-butt > img {
        /* width: 35px; */
    }

    .name-fa {
        /* font-size: 2rem; */
    }

    .credit {
        width: 90%;
    }

    .res > .contain > button {
        font-size: 1.25rem;
        padding: 10px 5px;
        width: 40%;
        margin: -10px auto -10px auto;

    }

    .section {
        grid-template-columns: 8fr 4fr;
    }

    .quit>.contain>.headr {
         font-size: 1.7rem;
         /* padding-bottom: 120px; */
    }

    .quit > .contain > .section  > img {
        width: 80%;
        border-radius: 10px;
        margin: 0px 0 0 0;
        /* margin: auto; */
    }
    
    .quit > .contain > .section > #butts {
        padding-right: 10px;
        /* padding-top: 120px; */
    }

    .quit > .contain > .section > #butts > button {
        font-size: 1.2rem;
        /* margin: 0px 0 -140px 0; */
        width: 60%;
        margin: 5px auto;    
        min-width: 100px;
        border-radius: 10px;
        display: block;
        cursor: pointer;
    }

    .lost > .contain > .section > #butts > button {
        font-size: 1.2rem;
        /* margin: 0px 0 -140px 0; */
        width: 60%;
        margin: 5px auto;    
        min-width: 100px;
        border-radius: 10px;
        display: block;
        cursor: pointer;
    }

    
    .lost > .contain > .headr > .second {
        font-size: 1.3rem;
    }

    .qfquestion > img {
        max-height: 40vh;
    }
    
}

@media (min-width: 541px){
    .sub-menu {
        width: 70%;
    }

    #menu-fa {
        width: 70%;
    }
}